#home-link
{
	display: block;
	text-align: right;
	margin: .8em 1em 0 0;
}
#home-link:before
{
	content: '← ';
}

main
{
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 .7rem;
}

h1
{
	font: 2rem/1 'Minipax', serif;
	margin-bottom: 1.1rem;
}

main p
{
	font: 1rem 'Muli', sans-serif;
	margin-bottom: 1em;
}

section
{
	margin: 2rem 0;
}

#info
{
	display: grid;
	justify-content: center;
	flex-wrap: wrap;
	
	grid-column-gap: 1.2em;
	grid-template-columns: auto auto;
}

#info p
{
	-webkit-hyphens: auto;
	hyphens: auto;
}

#team
{
	max-width: 44rem;
	margin: 0 auto;
}

.member
{
	--portrait-width: 9rem;

	display: grid;
	grid-template-columns: var(--portrait-width) 1fr ;
	grid-template-rows: auto auto;
	column-gap: 1.5em;
	row-gap: 1em;

	margin-bottom: 3rem;
}

.portrait
{
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	height: calc(var(--portrait-width) * 13/10);
	margin-top: .4em;

	border-radius: 3px;
	overflow: hidden;

	background-color: var(--accent-color);
}

.portrait img
{
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	mix-blend-mode: luminosity;
}

.name
{
	font-family: 'Compagnon', 'Muli';
	font-weight: bold;
	font-size: 1.4em;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.bio
{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}


@media screen and (max-width: 700px)
{
	#info
	{
		grid-template-columns: auto;
	}

	.lang-container + .lang-container
	{
		margin-top: 2rem;
	}

	.bio
	{
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

@media screen and (max-width: 500px)
{
	.member
	{
		display: block;
		clear: both;
	}

	.name
	{
		text-align: center;
		font-size: 8vw;
		line-height: 1;
		margin-bottom: .9rem;
	}

	.portrait
	{
		float: left;
		--portrait-height: 10em;
		height: var(--portrait-height);
		margin: .4em .7em 0 0;
		width: calc(var(--portrait-height) * 10/13);
	}

}
