article
{
	--max-width: 42rem;
	max-width: var(--max-width);
	margin: 1rem auto 3rem;
	font-family: 'Muli', 'Lack', sans-serif;
}

article
{
	--edge-gap: .5rem;
	padding-left: var(--edge-gap);
}

article > *
{
	/* as text has no clear right edge, it needs less distance to the viewports edge */
	max-width: calc(100% - .3rem);
}

img, iframe, audio, video, pre
{
	display: block;
	width: calc(100% - var(--edge-gap));
}

iframe
{
	height: calc(var(--max-width) * 9/16);
}

article > *
{
	margin-bottom: 1rem;
}

h1, h2, h3
{
	font: bold 3rem/1.1 'Minipax', serif;
	margin-top: 1.5em;
}

ol, li
{
	list-style-position: inside;
}

ul li
{
	display: grid;
	grid-template-columns: 0 1fr;
	grid-gap: 1em;
}

ul li:before
{
	content: '–';
}

h2
{
	font-size: 2rem;
}

h3
{
	font-size: 1.5rem;
}

code
{
	font-size: 1.12em;
}

pre,
code
{
	white-space: pre-wrap;
	font-family: 'Compagnon', monospace;
}

pre
{
	margin-top: -.25em;
	line-height: 1.1;
}
