*
{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font: inherit;
}

html
{
	--light-color: #eee;
	--dark-color: #111;
	--accent-color: hsl(329, 96%, 58%);

	--foreground-color: var(--dark-color);
	--background-color: var(--light-color);

	/* TODO: set breakpoints to prevent negative margin */
	/* (viewport_width - min_width) / (max_width - min_width) * max_margin */
	--edge-gap: calc(((100vw - 1200px) / 800) * 200);
	--border-width: .1rem;

	/* This is changed via JS, after some setup is done (necessary for Chromium). */
	--animation-state: paused;

	max-width: 100vw;

	border-color: var(--foreground-color);
	color: var(--foreground-color);
	background-color: var(--background-color);

	font: 20px 'Lack', sans-serif;
}

.scroll-right, .preview:nth-child(odd) .title-container
{
	--start-position: calc(-1 * var(--title-width));
	--final-position: 0;
}

.scroll-left, .preview:nth-child(even) .title-container
{
	--start-position: 0;
	--final-position: calc(-1 * var(--title-width));
}

em, i
{
	font-style: italic;
}

a
{
	color: var(--accent-color);
}

/* TODO: Figure out why mobile Safari doesn’t like this;
will likely have tobe done via Animation API in JS. */
@keyframes title
{
	from { transform: translateX(var(--start-position)); }
	to { transform: translateX(var(--final-position)); }
}



header
{
	width: 100%;
	padding-top: 1rem;
	overflow: hidden;
	color: var(--foreground-color);
}

header .title-container
{
	font: 900 8rem/.9 'Minipax', serif;
	text-align: center;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 var(--edge-gap);
	user-select: none;
	color: var(--foreground-color);
}

header .title-container:nth-child(2)
{
	justify-content: flex-end;
	text-align: right;
	padding-bottom: .3em;
}
header .title-container:nth-child(1)
{
	text-align: left;
}

header .title
{
	color: var(--accent-color);
	user-select: text;
}

header a:hover .title-container
{
	color: var(--accent-color);
}

header a:hover .title
{
	color: var(--foreground-color);
}


footer
{
	text-align: center;
	border-top: 1px solid #8885;
	padding: 2em;
}


#about
{
	font-size: 1.3rem;
	margin-top: 2rem;
	padding: 0  calc(var(--edge-gap) - 1em) 0 var(--edge-gap);
	columns: 3 12em;
	column-gap: 1em;
	hyphens: auto;
}


.preview
{
	--title-font-size: 4rem;

	--line-height: 1.5;

	--thumbnail-height: 8rem;
	--thumbnail-width: calc(var(--thumbnail-height) * 16/10);

	--margin-to-thumbnail: 1.2rem;

	color: inherit;
	text-decoration: none;

	max-width: 100%;
	overflow-x: hidden;
	margin: 5rem 0;

	font-size: 1.3rem;
	line-height: var(--line-height);
}

.preview:hover
{
	color: var(--accent-color);
}


.thumbnail
{
	border-radius: 3px;
	overflow: hidden;

	position: relative; /* for moving to same stacking context as transformed elements (.title) */
	z-index: 10;

	background: var(--accent-color);
}

.thumbnail img
{
	object-fit: cover;
	height: 100%;
	width: 100%;
}


.title-bar
{
	overflow: hidden;
	font: 900 var(--title-font-size)/1 'Minipax', serif;
}

.title-container
{
	display: inline-block;
	white-space: nowrap;

	animation: 5s linear 0s infinite normal none var(--animation-state) title;
	animation-iteration-count: 1;
}

.title, .title-clone
{
	display: inline-block;
}

.title-container .separator
{
	opacity: .2;
	margin: auto .3em;
	font: inherit;
}


.preview .info
{
	overflow: hidden;
}


.meta
{
	display: flex;
}

.preview:nth-child(odd) .date:after,
.preview:nth-child(even) .date:before
{
	content: '~';
	margin: auto .2em;
}

.meta .author
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: '.'; /* TODO: deal with unnecessarily inserted space */
}

.meta:after
{
	content: '';
	display: block;
	flex-grow: 1;
	height: .05em;
	background: var(--foreground-color);
	position: relative;
	top: .8em;
}


.teaser
{
	white-space: nowrap;
}



@media screen and (prefers-color-scheme: dark)
{
	html
	{
		--foreground-color: var(--light-color);
		--background-color: var(--dark-color);
	}
}



/* for Desktop */
@media screen and (min-width: 700px)
{
	.preview
	{
		height: var(--thumbnail-height);
		display: grid;
		grid-template-rows: calc(var(--title-font-size) * 1.07) 1fr;
	}
	.preview:nth-child(odd)
	{
		padding-left: var(--edge-gap);
		grid-template-areas:
		'thumbnail title'
		'thumbnail info';
		grid-template-columns: var(--thumbnail-width) 1fr;
	}
	.preview:nth-child(even)
	{
		padding-right: var(--edge-gap);
		grid-template-areas:
		'title thumbnail'
		'info thumbnail';
		grid-template-columns: 1fr var(--thumbnail-width);
	}

	.thumbnail
	{
		grid-area: thumbnail;
		max-width: var(--thumbnail-width);
		max-height: var(--thumbnail-height);
	}
	.title-bar
	{
		grid-area: title;
		margin-top: -.15em;
	}
	.info
	{
		grid-area: info;
	}

	.preview:nth-child(even) .info,
	.preview:nth-child(even) .title-bar
	{
		--mask: linear-gradient(
			to left,
			transparent 0%,
			#000 1.5rem,
			#000 calc(var(--margin-to-thumbnail) - 1.5rem),
			#000 100%);
		mask-image: var(--mask);
		-webkit-mask-image: var(--mask);
	}
	.preview:nth-child(odd) .info,
	.preview:nth-child(odd) .title-bar
	{
		--mask: linear-gradient(
			to right,
			transparent 0%,
			#000 1.5rem,
			#000 calc(var(--margin-to-thumbnail) - 1.5rem),
			#000 100%);
		mask-image: var(--mask);
		-webkit-mask-image: var(--mask);
	}

	.preview:nth-child(odd) .meta,
	.preview:nth-child(odd) .teaser
	{
		flex-direction: row;
		padding-left: var(--margin-to-thumbnail);
	}
	.preview:nth-child(even) .meta,
	.preview:nth-child(even) .teaser
	{
		flex-direction: row-reverse;
		padding-right: var(--margin-to-thumbnail);
	}

	.meta .author
	{
		max-width: calc(100% - 9em);
	}
}

/* from this point on the page scales down until thumbnail and text don’t fit next to each other anymore*/
@media screen and (max-width: 1300px)
{
	html
	{
		--edge-gap: 1rem;
		/* (viewport_width - min_width) / (max_width - min_width) * (max_size - min_size) + min_size */
		font-size: calc((100vw - 700px) / (1300 - 700) * (20 - 16) + 16px);
	}

	header .title-container
	{
		font-size: calc((100vw - 700px) / (1300 - 700) * (160 - 100) + 100px);
	}
}


/* at this point thumbnail and text don’t fit next to each other anymore */
@media screen and (max-width: 700px)
{
	html
	{
		font-size: 16px;
	}


	header .title-container
	{
		font-size: 100px;
	}

	header .title
	{
		white-space: initial;
	}

	header .title-clone
	{
		display: none;
	}


	.preview
	{
		--edge-gap: .9rem;

		display: flex;
		flex-flow: row wrap;
	}
	.preview .title-bar
	{
		order: 0;
		width: 100%;
		padding-bottom: .25em; /* this keeps decenders from being cut off */
	}
	.preview .thumbnail
	{
		order: 1;
		width: 100%;
		max-width: 100%;
		max-height: 70vh;
		height: calc(100vw / 16 * 10);
		margin: .5em var(--edge-gap) .7em; /* XXX: here is the spacing of all the children of .preview */
	}
	.preview .info
	{
		order: 2;
		margin: 0 var(--edge-gap);
	}
}


@media screen and (max-width: 500px)
{
	html
	{
		--edge-gap: 1rem;
		font-size: 16px;
	}
	.preview
	{
		flex-flow: row-reverse wrap;
	}
	.preview .title-bar
	{
		/*
			max_width → 500px
			min_width → 320px
			max_val → 64px
			min_val → 36px
		*/
		--title-font-size: calc(((500px - 320px) - (500px - 100vw)) * (64 - 36) / (500 - 320) + 36px)
	}
}


@media screen and (max-width: 320px)
{
	.preview .title-bar
	{
		font-size: 36px;
	}
}
