@media (prefers-color-scheme: dark) {
	html {
		color: #eee;
		background: #111;
	}
}

html, body, p 
{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html
{
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

body
{
	max-width: 40rem;
	margin: 2rem auto;
}

p
{
	margin-bottom: 1rem;
}

.y
{
	color: lime;
}

.worker
{
	z-index: -1;
	color: lime;
	position: absolute;
	top: 0;
	left: 0;
	background-color: crimson;
	transition:
		transform 3s,
		width 3s,
		height 3s;
	border-radius: .2rem;
}

.paused
{
	display: none;
}
