*
{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html
{
	--light-color: #111;
	--dark-color: #eee;

	--border-width: .1rem;

	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.4;

	border-color: var(--light-color);
	color: var(--light-color);
	background-color: var(--dark-color);
}

header
{
	width: 100%;
	background-color: crimson;
	margin: 0 auto;
	text-align: center;
	padding: 1rem 0;
}

header h1
{
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: -.02em;
}

#about
{
	font-style: italic;
}

main
{
	/* This is changed via JS, after some setup is done (necessary for Chromium). */
	--animation-state: paused;

	max-width: 40rem;
	margin: 2rem auto;
}

article
{
	border: var(--border-width) solid;
	border-radius: 2px;
	overflow: hidden;
	position: relative; /* for positioning .author and .date */
	
	margin-bottom: 2rem;
}

.title-bar
{
	display: table;
}

.title-container
{
	display: inline-block;
	white-space: nowrap;

	animation-name: title;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: var(--animation-state);;
}

.title-container, .meta
{
	color: var(--dark-color);
	background-color: var(--light-color);
}

.title, .title-clone
{
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;

	display: inline;
}

@keyframes title
{
	from { transform: translateX(0); }
	to { transform: translateX(var(--title-width)); }
}

.title:after, .title-clone:after
{
	content: ' ━ ';
	opacity: .2;
}

.meta
{
	display: flex;
	justify-content: space-between;
}

/*
.author, .date
{
	z-index: 10;
	position: absolute;
	right: 0;
	background-color: var(--dark-color);
}
*/

.author
{
	bottom: 0;
}

.date
{
	top: 0;
}

.content
{
	height: 0;
	overflow: hidden;
}

p
{
	margin-bottom: 1rem;
}

.worker
{
	z-index: -1;
	color: lime;
	position: absolute;
	top: 0;
	left: 0;
	background-color: crimson;
	transition:
		transform 3s,
		width 3s,
		height 3s;
	border-radius: .2rem;
}

.paused
{
	display: none;
}

@media (prefers-color-scheme: dark) {
	html
	{
		--light-color: #eee;
		--dark-color: #111;
	}
}

article.open .content
{
	height: 100%;
}
