<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Autonomous Systems</title>
	<link rel='preload' as='font' href='fonts/minipax-bold.woff2' type='font/woff2'>
	<link rel='stylesheet' href='fonts/fonts.css'>
	<link rel='stylesheet' href='css/style.css'>
	<link rel='stylesheet' href='css/about.css'>
</head>
<body>
	<header>
		<a href='index.html' title='reload this page'>
			{{{site-title}}}
			<span id='home-link' href='./'>back to the posts</span>
		</a>
		
	</header>

	<main>
		<section id='info'>
			<div class='lang-container de' lang='de'>
				<h1>Autonome Systeme</h1>

				<p>Autonome Systeme umgeben uns: von funktionalen Prozederes in der Netzwerktechnik über ethische Aspekte selbstfahrender Autos und Waffensysteme bis hin zur historisch geprägten Idee des “autonomen Kunstwerk” und zum politischen Diskurs über Souveranität von Staaten und Regionen reicht die Spannweite des Begriffs, der aktuell zum Modewort geworden ist.</p>

				<p>Autonomie, autonomes Verhalten übt auf uns den Reiz der Unabhängigkeit aus, wenn wir beobachten, wie sich Dinge und Menschen ohne unser Zutun augenscheinlich völlig selbstbestimmt verhalten und verändern können, obgleich wir vielleicht insgeheim wissen, dass diese Unabhängigkeit nur dadurch existiert, dass wir etwas Anderes in Beziehung mit uns selbst setzen. Unabhängigkeit braucht also Abhängigkeit, Selbstbestimmung braucht ein Gegenüber, autonome Systeme brauchen…?</p>

				<p>Die Vielzahl der Theorien rund um die Idee der Autonomie erscheinen oftmals verwirrend, und eine eindeutige Definition dieses Modeworts ist schwer zu fassen. Zu aufgeladen erscheint der Begriff mit diversen philosophischen und ideologischen Kontexten, und selbst die auf Immanuel Kant zurückgehende Idee des &ldquo;autonomen Kunstwerks&rdquo; taucht neuerdings im Zusammenhang mit Diskussionen über politische Kunst wieder auf.</p>

				<p>Im Rahmen des Jahresprojekts von &lsquo;mur.at&rsquo; hat sich eine Gruppe von Künstler*innen daran gemacht, der Autonomie mit dem Blick des Widerspenstigen zu begegnen und die Vielfalt des Begriffs von verschiedenen Blickwinkeln aus zu hinterfragen. In einer Art Versuchsanordnung, die in sich ein generativer, selbststeuernder Prozess ist, werden iterativ verschiedene Facetten und Zugänge erprobt, durchgespielt, weiterentwickelt oder verworfen. Durch den Blick auf das Besondere, das Persönliche, das Unvollständige und das Ungewöhnliche werden autonome Systeme entzaubert, ihre Mechanismen und Abläufe transparent gemacht. </p>

				<p>Autonomes Verhalten ist möglicherweise nur dann glaubhaft, solange wir etwas nicht verstehen - oder so lange wir an den Zauber des Unabhängigen glauben können, den Menschen seit Jahrhunderten vor Allem (aber nicht alleine) Maschinen und Apparaturen zuschreiben, seien sie nur physisch-mechanisch wie die Dampfmaschine oder bestehend aus Code wie die &ldquo;künstlich intelligenten&rdquo; Algorithmen der Jetztzeit.</p>

				<p>Dieser Blog dokumentiert unseren Prozess, die Suche nach Autonomie in uns selbst und in den von uns geschaffenen, oder noch zu erschaffenden, Maschinen, Mechanismen und Systemen. Und gleichzeitig, als virtuelles Artefakt im Internet, ist diese Webseite ebenso ein (scheinbar?) autonomes System, ein De-Codierungs- und Transformationswerkzeug, das unsere Ideen genauso verarbeitet wie seinen eigenen Code.</p>
			</div>
			<div class='lang-container en' lang='en'>
				<h1>Autonomous Systems</h1>

				<p>Autonome Systeme umgeben uns: von funktionalen Prozederes in der Netzwerktechnik über ethische Aspekte selbstfahrender Autos und Waffensysteme bis hin zur historisch geprägten Idee des “autonomen Kunstwerk” und zum politischen Diskurs über Souveranität von Staaten und Regionen reicht die Spannweite des Begriffs, der aktuell zum Modewort geworden ist.</p>

				<p>Die Vielzahl der Theorien rund um die Idee der Autonomie erscheinen oftmals verwirrend, und eine eindeutige Definition dieses Modeworts ist schwer zu fassen. Zu aufgeladen erscheint der Begriff mit diversen philosophischen und ideologischen Kontexten, und selbst die auf Immanuel Kant zurückgehende Idee des &ldquo;autonomen Kunstwerks&rdquo; taucht neuerdings im Zusammenhang mit Diskussionen über politische Kunst wieder auf.</p>

				<p>Im Rahmen des Jahresprojekts von &lsquo;mur.at&rsquo; hat sich eine Gruppe von Künstler*innen daran gemacht, der Autonomie mit dem Blick des Widerspenstigen zu begegnen und die Vielfalt des Begriffs von verschiedenen Blickwinkeln aus zu hinterfragen. In einer Art Versuchsanordnung, die in sich ein generativer, selbststeuernder Prozess ist, werden iterativ verschiedene Facetten und Zugänge erprobt, durchgespielt, weiterentwickelt oder verworfen. Durch den Blick auf das Besondere, das Persönliche, das Unvollständige und das Ungewöhnliche werden autonome Systeme entzaubert, ihre Mechanismen und Abläufe transparent gemacht. </p>

				<p>Autonomes Verhalten ist möglicherweise nur dann glaubhaft, solange wir etwas nicht verstehen - oder so lange wir an den Zauber des Unabhängigen glauben können, den Menschen seit Jahrhunderten vor Allem (aber nicht alleine) Maschinen und Apparaturen zuschreiben, seien sie nur physisch-mechanisch wie die Dampfmaschine oder bestehend aus Code wie die &ldquo;künstlich intelligenten&rdquo; Algorithmen der Jetztzeit.</p>

				<p>Dieser Blog dokumentiert unseren Prozess, die Suche nach Autonomie in uns selbst und in den von uns geschaffenen, oder noch zu erschaffenden, Maschinen, Mechanismen und Systemen. Und gleichzeitig, als virtuelles Artefakt im Internet, ist diese Webseite ebenso ein (scheinbar?) autonomes System, ein De-Codierungs- und Transformationswerkzeug, das unsere Ideen genauso verarbeitet wie seinen eigenen Code.</p>
			</div>
		</section>

		<section id='team'>
			<ul>
				<li>
					<img class='portrait' src='' alt=''>
					<h3 class='name'>Name</h3>
					<p class='bio'>hi</p>
				</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
	</main>

	{{{footer}}}
</body>
</html>
