<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Autonomous Systems</title>
	<link rel='preload' as='font' href='fonts/minipax-bold.woff2' type='font/woff2'>
	<link rel='stylesheet' href='fonts/fonts.css'>
	<link rel='stylesheet' href='css/style.css'>
	<link rel='stylesheet' href='css/about.css'>
</head>
<body>
	<header>
		<a href='index.html' title='reload this page'>
			{{{site-title}}}
			<span id='home-link' href='./'>back to the posts</span>
		</a>
		
	</header>

	<main>
		<section id='info'>
			<div class='lang-container de' lang='de'>
				<h1>Autonome Systeme</h1>

				<p>Autonome Systeme umgeben uns: von funktionalen Prozedere in der Netzwerktechnik über ethische Aspekte selbstfahrender Autos und Waffensysteme bis hin zur historisch geprägten Idee des “autonomen Kunstwerk” und zum politischen Diskurs über Souveränität von Staaten und Regionen reicht die Spannweite des Begriffs, der aktuell zum Modewort geworden ist.</p>

				<p>Die Vielzahl der Theorien rund um die Idee der Autonomie erscheinen oftmals verwirrend, und eine eindeutige Definition dieses Modeworts ist schwer zu fassen. Zu aufgeladen erscheint der Begriff mit diversen philosophischen und ideologischen Kontexten, und selbst die auf Immanuel Kant zurückgehende Idee des „autonomen Kunstwerks“ taucht neuerdings im Zusammenhang mit Diskussionen über politische Kunst wieder auf.</p>

				<p>Im Rahmen des Jahresprojekts „Autonome Systeme“ der Grazer Netzkultur- und Medienkunstplattform <a href="https://mur.at">mur.at</a> hat sich eine Gruppe von Künstler*innen aus verschiedenen Disziplinen daran gemacht, der Autonomie mit dem Blick des Widerspenstigen zu begegnen und die Vielfalt des Begriffs von verschiedenen Blickwinkeln aus zu hinterfragen. In einer Versuchsanordnung, die in sich ein generativer, selbststeuernder Prozess ist, werden verschiedene Facetten und Zugänge erprobt, durchgespielt, weiterentwickelt oder verworfen. Durch den Blick auf das Besondere, das Persönliche, das Unvollständige und das Ungewöhnliche werden autonome Systeme entzaubert, ihre Mechanismen und Abläufe transparent gemacht.</p>

				<p>Autonomes Verhalten ist möglicherweise nur dann glaubhaft, solange wir etwas nicht verstehen - oder so lange wir an den Zauber des Unabhängigen glauben können, den Menschen seit Jahrhunderten vor Allem (aber nicht alleine) Maschinen und Apparaturen zuschreiben, seien sie nur physisch-mechanisch wie die Dampfmaschine oder bestehend aus Code wie die „künstlich intelligenten“ Algorithmen der Jetztzeit.</p>

				<p>Dieser Blog dokumentiert unseren Prozess, die Suche nach Autonomie in uns selbst und in den von uns geschaffenen, oder noch zu erschaffenden, Maschinen, Mechanismen und Systemen. Und gleichzeitig, als virtuelles Artefakt im Internet, ist diese Webseite ebenso ein (scheinbar?) autonomes System, ein De-Codierungs- und Transformationswerkzeug, das unsere Ideen genauso verarbeitet wie seinen eigenen Code.</p>

				<p>Das Projektteam trifft sich zweiwöchentlich im virtuellen Raum; die Ergebnisse des Work-in-Progress werden in unregelmäßigen Abständen in verschiedenen Formaten präsentiert. Die Treffen sind öffentlich für Interessierte (Zugang auf Anfrage via autonomie@lists.mur.at). Aktuelle Termine und Präsentationen des Projekts sind in „Events“ nachzulesen, bzw. werden via <a href="https://twitter.com/murpunktat">@murpunktat</a> auf Twitter angekündigt.</p>
			</div>

			<div class='lang-container en' lang='en'>
				<h1>Autonomous Systems</h1>

				<p>From self-guided cars to AI-controlled weaponery systems, “autonomous systems” has become an omnipresent buzzword in today’s media. While the current use of the term is focused often on political and ethical aspects of self-steering and self-learning algorithms and digital technologies, the historical idea of autonomy includes discourses about sovereignity of nations as well as Kant’s reflections on the autonomy of art. Yet the multitude of concepts and ideas related to the term “autonomous systems” makes it often hard to define what exactly is behind it.</p>

				<p>The project “autonomous systems”, carried out by the Graz-based platform <a href="https://mur.at">mur.at </a>in 2020-21, aims to question this buzzword from a creative-critical approach. A team of five young artists is developing a collective working process that itself is modeled after a generative, “autonomous” system. In this process, different approaches, thoughts, tools and techniques of work related or drawn from aspects of autonomy and system theory are explored to collectively create works of art. The focus of the project is not to define or fully explain what autonomous systems are, but to highlight pecularities, contradictions and fascinations through the lens of artistic practice(s).</p>

				<p>This blog is a documentation of our working process. We are searching for and questioning autonomy and systemic processes in and around ourselves, our digital and physical environment. We want to demystify in a playful way the agency of automata and machines, be them from the past or yet to be created by us. At the same time, this website is a diary and companion, a tool for processing and transformation our inputs as well as its own code. A system that is also part of the system(s) we create.</p>

				<p>The project groups meets every two week for discussions and collaborative work at the moment in a dedicated virtual channel. Meetings are open for an interested audience (access upon request to autonomie@lists.mur.at). The results of the work-in-progress are presented in different formats, for more details see the “events” section on this blog or follow <a href="https://twitter.com/murpunktat">@murpunktat</a> on twitter.</p>
			</div>
		</section>

		<section id='team'>
			<ul>
				<li>
					<img class='portrait' src='' alt=''>
					<h3 class='name'>Name</h3>
					<p class='bio'>hi</p>
				</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
	</main>

	{{{footer}}}
</body>
</html>
