<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Autonomous Systems</title>
	<link rel='stylesheet' href='fonts/fonts.css'>
	<link rel='stylesheet' href='style.css'>
</head>
<body>

	<header>
		<div class='title-container'>
			<p><span class='title'>Auto&shy;nomous</span><span class='title-clone'>AutonomousAutonomousAutonomous</span></p>
		</div>
		<div class='title-container'>
			<p><span class='title-clone'>SystemsSystemsSystemsSystems</span><span class='title'>Systems</span></p>
		</div>
		<p id='about'>An artistic exploration of the meaning, the context and the limits of <i>autonomous systems</i>&hairsp;—&hairsp;by <a href='https://mur.at/'>mur.at</a>. And this computer, which was called the Earth, was so large that it was frequently mistaken for a planet—especially by the strange apelike beings who roamed its surface, totally unaware that they were simply part of a gigantic computer program.</p>
	</header>


	<main>{{{previews}}}</main>

	{{{footer}}}

</body>
<script src='common.js'></script>
<script src='content.js'></script>
<!--
<script src='split-in-tags.js'></script>
<script src='workers.js'></script>
-->
</html>
