<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Autonomous Systems</title>
	<link rel='preload' as='font' href='fonts/minipax-bold.woff2' type='font/woff2'>
	<link rel='stylesheet' href='fonts/fonts.css'>
	<link rel='stylesheet' href='css/style.css'>
</head>
<body>

	<header>
		<a href='index.html' title='reload this page'>{{{site-title}}}</a>
		<p id='about'>Die Entwicklung adaptiver, selbstlernender Systeme und ihre Implementierung in den Alltag hat dazu geführt, dass das Schlagwort <em>Autonomie</em> in aller Munde ist: seien es autonom fahrende Autos, Drohnen, oder die KI die uns mit Siri und Alexa im Haushalt helfen soll. Autonomie hat als Konzept und Idee eine lange Geschichte und einen breiten Hintergrund an Bedeutungen. Insbesondere der Kunst wurde und wird innerhalb der westlichen Welt der Charakter der Autonomie zugesprochen.<br><a class='about-link' href='about.html' title='About'>Mehr zum Projekt.</a></p>
	</header>

	<main>{{{previews}}}</main>

	{{{footer}}}

</body>
<script src='js/common.js'></script>
<script src='js/content.js'></script>
<!--
<script src='js/split-in-tags.js'></script>
<script src='js/workers.js'></script>
-->
</html>
