<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title> AutoSys: {{{title}}}</title>
	<link rel='stylesheet' href='../fonts/fonts.css'>
	<link rel='stylesheet' href='../style.css'>
	<link rel='stylesheet' href='../post.css'>
</head>
<body>
	<header>
		<a href='../index.html' title='back to the homepage'>
			<div class='title-container'>
				<p><span class='title'>Auto&shy;nomous</span><span class='title-clone'>AutonomousAutonomousAutonomous</span></p>
			</div>
			<div class='title-container'>
				<p><span class='title-clone'>SystemsSystemsSystemsSystems</span><span class='title'>Systems</span></p>
			</div>
		</a>
	</header>

	<article>
		{{{content}}}
	</article>

	{{{footer}}}
</body>
</html>
