<div class='title-container'>
	<p><span class='title'>Auto&shy;nomous</span><span class='title-clone'>AutonomousAutonomousAutonomous</span></p>
</div>
<div class='title-container dummy'>
	<p><span class='title-clone'>SystemsSystemsSystemsSystemsSystems</span></p>
</div>
<div class='title-container dummy'>
	<p><span class='title-clone'>AutonomousAutonomousAutonomousAutonomous</span></p>
</div>
<div class='title-container'>
	<p><span class='title-clone'>SystemsSystemsSystemsSystems</span><span class='title'>Systems</span></p>
</div>
